@using BacHa.Helper
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var viewedProductIds = HttpContextAccessor.HttpContext?.Session.GetObjectFromJson<List<Guid>>("ViewedProductIds") ?? new List<Guid>();
    var count = viewedProductIds.Count;
}
@* 
@if (count > 0)
{
    <li class="nav-item">
        <span class="nav-link position-relative" style="cursor: default;">
            <i class="fas fa-history me-1"></i>Lịch sử xem
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.6em;">
                @count
            </span>
        </span>
    </li>
} *@
